
body{
    width: 900px;
    margin: auto;
    background-color: #f5ecf3;
}
header{
    height: 140px;
    background-color: #642558;
}
nav{
    height: 60px;
    background-color: #a53a6c;
}
main{
    height: 600px;
    background-color: #ffffff;
}
    #contenido{
        width: 610px;
        height: 500px;
        background-color: #707070;
        float: left;
        margin-top: 50px;
        margin-left: 30px;
    }
    #promos{
        width: 200px;
        height: 500px;
        background-color: #b5b5b5;
        float: left;
        margin-top: 50px;
        margin-left: 30px;
    }

footer{
    height: 140px;
    background-color: #642558;
}