*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
body{
    font-family: Raleway;
    color: #333;
}
header{
    height: 130px;
    background-color: #aaa;
}
nav{
    height: 60px;
    background-color: #d9d9d9;
}
main{
    padding: 20px 0;
    min-height: 550px;
    width: 960px;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
    main article{
        width: 290px;
        padding: 15px;
        margin: 10px 0px;
    }
    main article:hover{
        transition: 0.6s;
        box-shadow: 0px 0px 10px 0px rgba(150,150,150,0.75);
    }
        article h1, article p{
            margin: 10px;
        }
        article a{
            text-decoration: none;
            text-align: center;
            color: #fff;
            background-color: #ffa4a4;
            padding: 10px;
            display: block;
            border-radius: 6px;
        }
        article a:hover{
            background-color: #e98d8d;
            transition: 0.5s;
        }

footer{
    height: 160px;
    background-color: #aaa;
}